<p>Bonjour {{name}},</p>

<p>Votre commande a bien été prise en compte et est en attente de validation par le transporteur.</p>

<p>Voici le code secret associé à votre commande : <strong>{{secretCode}}</strong></p>

<p>Merci pour votre confiance,</p>
<p>L'équipe Transkage</p>